<div class="edit">
    <div class="card bg-dark">
        <%= link_to 'Back', @project, class: 'btn btn-dark mb-2' %>
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span>Edit Task</span>  
            </h2>
            <%= render 'form' %>
        </div>
    </div>
</div>
